body {
  margin: 0px;
  padding: 0px;
  font-family: "Arial";
  color: #fff;
  overflow: hidden;
  background-color: #ffffff;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.slider {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.moveLeft {
  margin-left: -400px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 800px) {
  .slider {
    flex-direction: column;
    height: 100%;
  }
}