@media only screen and (max-width: 800px) {
  .infoWrapper {
    margin-top: 10% !important;
  }

  body {
    overflow-y: visible;
  }
}

.flex {
  position: relative;
  /* min-width: 400px;
    max-width: 400px; */
  height: 100vh;
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.flex:hover {
  opacity: 1;
}


.infoWrapper {
  padding: 5vw;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.7);
  position: relative;
  width: 100%;
  top: 0;
}
.text {
  max-width: 540px;
  margin: 0 auto;
  font-weight: bold;
  padding-top: 2em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}
.more {
  background: #b3b3b3d2;
  outline: 2px solid white;
  font-weight: bold;
  width: 200px;
  text-align: center;
  line-height: 4;
  position: relative;
  bottom: 0;
  left: calc(50% - 100px);
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 32px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.more:hover {
  background: #ffffff;
  outline: 2px solid rgba(153, 153, 153, 0.397);
  color: black;
  margin-top: 3px;
}

.logo {
  align-self: center;
  max-width: 50vw;
  max-height: 80px;
}

.basr-social-share {
  position: relative;
  top: 3em;
  display: flex;
  text-align: center;
  padding: 0 auto;
  margin: 2em auto;
  justify-content: center;
}

.flexFooter {
  /* display: flex; */
  margin: 32px;
  height: 120px;
}

.social ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.social ul li {
  border: 2px solid #ffffff;
  background: #b3b3b3d2;
  border-radius: 50%;
  float: left;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 8px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social ul li:hover {
  background: #ffffff;
  outline: 2px solid rgba(153, 153, 153, 0.397);
  color: #0da96a;
  margin-top: 3px;
}

.social ul li a {
  border-radius: 50%;
  display: block;
  color: white;
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.social ul li a svg {
  color: inherit;
}

.social ul li a:hover {
  color: black;
}
